<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="http://localhost:1234/addfeed" method="POST">
  <label for="title">Title:</label><br>
  <input type="text" id="Title" name="Title" value="title"><br>
  <label for="description">description:</label><br>
  <input type="text" id="Description" name="Description" value="description"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "post/addfeed".</p>

</body>
</html>
